{{ .Hugo.Generator }}
{{ with $.Param "contact" }}<meta name="contact" content="{{ . }}">{{ end }}
<link rel="canonical" href="{{ .Permalink }}">
<link rel="icon" href="{{ "/favicon.png" | relURL }}">
<link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png" | relURL }}">
